input::-webkit-input-placeholder {
    font-size: 15px;
    color: #9a9a9a;
}
.main{
    width: 100%;
    margin: 0px auto;
    font-family: 微软雅黑;
}
.main>.top{
    width: 100%;
    height: 400px;
    margin: 0px auto;
    padding-top:20px ;
    padding-bottom:20px ;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
}
.main>.top>.banner{
    display: block;
    float: left;
    width: 860px; height: 400px;
}
.main>.top>.banner>.bannerContent{
	width: 860px; 
	height: 400px;
	position: relative;
	overflow: hidden;
}
.main>.top>.banner>.bannerContent>.bannerList{
    width: 860px; 
    height: 400px;
    position: relative;
}
.main>.top>.banner>.bannerContent>.bannerList>ul{
    width: 5000px;
	height: 400px;
    position: relative;
}
.main>.top>.banner>.bannerContent>.bannerList>ul>li{
    width: 860px;
    height: 400px;
    display: block;
    float: left;
}
.main>.top>.banner>.bannerContent>.bannerList>ul>li>a>.banner_img{
    width: 860px;
    height: 400px;
}
.main>.top>.banner>.bannerContent>.bannerList>.bannerBtnL{
    position: absolute;
    width: 46px;
    height: 46px;
    left: 20px;
    top: 174px;
    background: url("../images/banner_btnL.png") no-repeat center center;
    cursor: pointer;
    opacity: .4;
}
.main>.top>.banner>.bannerContent>.bannerList>.bannerBtnR{
    position: absolute;
    width: 46px;
    height: 46px;
    right: 20px;
    top: 174px;
    background: url("../images/banner_btnR.png") no-repeat center center;
    cursor: pointer;
    opacity: .4;
}
.main>.top>.banner>.bannerContent>.bannerList>.bannerBtnL:hover{
    opacity: 1;
    transition: all .5s;
}
.main>.top>.banner>.bannerContent>.bannerList>.bannerBtnR:hover{
    opacity: 1;
    transition: all .5s;
}
.main>.top>.banner>.bannerContent>.bannerList>#points{
    position: absolute;
    left: 405px;
    bottom: 5px;
    z-index: 6;
    height: 12px;
    width: 70px;
}
.main>.top>.banner>.bannerContent>.bannerList>#points span{
    float: left;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%; 
    background: #fff;
    cursor: pointer;
}
.main>.top>.banner>.bannerContent>.bannerList>#points .on{
    background: #FF5000;
}
.main>.top>.login{
    display: block;
    float: right;
    width: 320px; height: 400px;
}
.main>.top>.login>.container{
    width: 320px;
    margin-left: 25px;
    background: #fff;
    display: block;
}
.main>.top>.login>.container>.title{
    width: 320px;
    height: 60px;
}
.main>.top>.login>.container>.title>li{
    display: block;
    float: left;
    width: 50%;
    height: 60px;
    font-size: 18px;
    color: #bbb;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #a5a5a5;
}
.main>.top>.login>.container>.title>.personal{
    border-bottom: 1px solid #0aa5f5;
}
.main>.top>.login>.container>.title>.personal>a{
    color: #0aa5f5;
}
.main>.top>.login>.container>.title>.personal,.corporate>a{
    color: #a5a5a5;
    font-weight: bold;
}
.main>.top>.login>.container>.personContent{
    width: 290px;
    height: 300px;
    padding: 15px;
    display: block;
}
.main>.top>.login>.container>.personContent>p{
    font-size: 14px;
    color: #666;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-indent: 6px;
}
.main>.top>.login>.container>.personContent>input{
    width: 98%;
    height: 15%;
    font-size: 16px;
    text-indent: 16px;
    letter-spacing: 1px;
    margin: 7px 0px;
}
.main>.top>.login>.container>.personContent>.forget{
    width: 98%;
    height: 20px;
    font-size: 13px;
    color: #0aa5f5;
    margin-top: 6px;
    margin-bottom: 8px;
    text-align: right;
}
.main>.top>.login>.container>.personContent>.enter{
    width: 98%;
    height: 48px;
    font-size: 18px;
    color: #fff;
    letter-spacing: 9px;
    text-indent: 9px;
    margin-left: 0px;
    background: #FF9C00;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
}
.main>.top>.login>.container>.personContent>.register{
    width: 98%;
    margin-top: 12px;
    text-align: right;
    color: #6d6d6d;
}
.main>.top>.login>.container>.personContent>.register>a{
    color: #FF9C00;
}
.main>.top>.login>.container>.personContent>.line{
    width: 98%;
    height: 5px;
    border-bottom: 1px solid #c7c7c7;
    margin-top: 25px;
}
.main>.top>.login>.container>.companyContent{
    width: 290px;
    height: 300px;
    padding: 15px;
    display: none;
}
.main>.top>.login>.container>.companyContent>p{
    font-size: 14px;
    color: #666;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-indent: 6px;
    text-align: center;
}
.main>.top>.login>.container>.companyContent>input{
    width: 98%;
    height: 15%;
    font-size: 16px;
    text-indent: 16px;
    letter-spacing: 1px;
    margin: 7px 0px;
}
.main>.top>.login>.container>.companyContent>.code{
    width: 98.69%;
    height: 15%;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 7px 0px;
    border: 1px solid #9a9a9a;
}
.main>.top>.login>.container>.companyContent>.code>input{
    width: 45%;
    height: 68%;
    font-size: 16px;
    text-indent: 16px;
    letter-spacing: 1px;
    margin: 7px 0px;
    border: 0;
}
.main>.top>.login>.container>.companyContent>.enter{
    width: 99.38%;
    height: 15%;
    font-size: 18px;
    color: #fff;
    letter-spacing: 9px;
    text-indent: 9px;
    margin: 8px auto;
    background: #FF9C00;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
}
.main>.top>.login>.container>.companyContent>.register{
    width: 65%;
    margin-top: 9px;
    text-align: left;
    font-size: 13px;
    color: #6d6d6d;
    float: left;
}
.main>.top>.login>.container>.companyContent>.register>a{
    color: #FF9C00;
}
.main>.top>.login>.container>.companyContent>.forget{
    width: 34%;
    height: 20px;
    font-size: 13px;
    color: #0aa5f5;
    margin-top: 9px;
    text-align: right;
    float: right;
}
.main>.top>.login>.userContainer{
    width: 320px;
    margin-left: 25px;
    background: #fff;
    display: none;
}
.main>.top>.login>.userContainer>.mainUserInfo{
    width: 320px;
    height: 158px;
    /* background: #00ffff; */
    padding-top: 50px;
    border-bottom: 1px dashed #666666;
}
.main>.top>.login>.userContainer>.mainUserInfo>.userInfoImg{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: url(../images/user_photo/1.png) no-repeat center center;
    background-size: 100% 131%;
    margin: 0 auto;
}
.main>.top>.login>.userContainer>.mainUserInfo>.mainUserName{
    width: 320px;
    height: 20px;
    text-align: center;
    margin-top: 10px;
}
.main>.top>.login>.userContainer>.userContent{
    width: 320px;
    height: 191px;
}
.main>.top>.login>.userContainer>.userContent>.userInformation{
    width: 320px;
    height: 40px;
}
.main>.top>.login>.userContainer>.userContent>.userInformation>.userInformation_classify{
    width: 50%;
    height: 40px;
    float: left;
}
.classify_icon{
    background: url(../images/login.png) no-repeat;
    background-size: 200% 98px;
    height: 16px;
    width: 16px;
    margin-top: 26px;
    margin-left: 34px;
    float: left;
}
.classify_font{
    color: rgb(79, 79, 79);
    margin-top: 24.2px;
    margin-left: 12px;
    font-size: 14px;
    float: left;
}
.icon_delivery{
    background: url(../images/login.png) no-repeat 0px -16px;
    background-size: 200% 98px;
}
.icon_resume{
    background: url(../images/login.png) no-repeat -16px 0px;
    background-size: 200% 98px;
}
.icon_AccountSettings{
    background: url(../images/login.png) no-repeat -16px -16px;
    background-size: 200% 98px;
}
.main>.top>.login>.userContainer>.userContent>.loginout{
    height: 39px;
    width: 64%;
    background: #f5f5f5;
    border: 1px solid #878787;
    border-radius: 50px;
    color: #888888;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}
.main>.middle{
    width: 1200px; height: 200px;
    margin: 20px auto 0px;
}
.main>.middle>.count{
    display: block;
    float: left;
    width: 350px; height: 200px;
    border: 1px solid #000;
}
.main>.middle>.select{
    display: block;
    float: right;
    width: 800px; height: 200px;
    border: 1px solid #000;
}

.main>.bottom{
    width: 1200px; height: 840px;
    margin: 20px auto 0px;
    border: 1px solid #000;
}
.main>.bottom>.box{
    width: 1200px; height: 400px;
    background: #000;
    margin: 0px auto 20px;
    border: 1px solid red;
}
.main>.bottom>.box>.left{
    display: block;
    float: left;
    width: 200px; height: 400px;
    background: #ff00ff;
}
.main>.bottom>.box>.right{
    display: block;
    float: right;
    width: 1000px; height: 400px;
    background: #00ffff;
}
footer{
    height: 100px;
    margin: auto;
    background: #000;
}

.middleContainer {
    width: 100%;
    height: 200px;
}
.middleContainer>.Statistics {
    width: 21%;
    height: 200px;
    float: left;
}
.middleContainer>.Statistics p:first-child {
    font-size: 22px;
    height: 35px;
    color: #888;
    border-bottom: 1px dashed #888;
    margin: 10px 0px;
    letter-spacing: 3px;
}
.middleContainer>.Statistics p:last-child {
    font-size: 24px;
    color: #888;
    margin: 6px 10px;
}
.middleContainer>.Statistics ul{
    width: 252px;
    height: 45px;
    overflow: hidden;
}
.middleContainer>.Statistics ul>li{
    position: relative;
    float: left;
    width: 41px;
    height: 61px;
}
.middleContainer>.Statistics ul>li>img{
    position: absolute;
}
.middleContainer>.Statistics li img:first-child{
    top: 0px;
}
.middleContainer>.Statistics li img:last-child{
    top: 61px;
}

.middleContainer>.middleSearch {
    width: 76%;
    height: 120px;
    float: right;
    margin-top: 11px;
}

.middleContainer>.middleSearch>#searchInput {
    width: 89%;
    height: 50px;
    border: 1px solid #0aa5f5;
    margin: 5px 0px;
    background-image: url(../images/bbctsearch.png);
    background-repeat: no-repeat;
    background-position: 2%;
    text-indent: 55px;
}

.middleContainer>.middleSearch button {
    width: 6%;
    height: 52px;
    position: absolute;
    border: 1px solid #0aa5f5;
    background-color: #0aa5f5;
    font-size: 18px;
    color: #fff;
    margin: 5px 0px;
    cursor: pointer;
}

.middleContainer>.middleSearch ul>* {
    float: left;
    font-size: 14px;
    color: #888;
    margin: 10px 0px;
}

.middleContainer>.middleSearch li:nth-child(2n+0) {
    color: #0aa5f5;
    margin: 10px 18px;
}